---
import '../styles/custom.css';
import "@fontsource/inter"
import "@fontsource/dm-serif-display"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<section class="p-8 bg-neutral-100">
		<h1 class="text-5xl font-bold text-neutral-800">Astro</h1>
		<p>This is a paragraph.</p>
	</section>
	</body>
</html>
