---
import '../styles/custom.css';
import "@fontsource/inter"
import "@fontsource/dm-serif-display"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>John Kelly</title>
	</head>
	<body class="font-inter">

	<section class="bg-[#efece6] px-8 py-16">
   <div class="max-w-3xl mx-auto grid grid-cols-1">
     <div class="md:max-w-2xl space-y-8">
      <p class="text-6xl font-dmserif font-bold md:text-8xl">John Kelly</p>
      <p class="text-2xl md:text-4xl">I design websites and digital services that are clear to understand and simple to use.</p>
     </div>
   </div>
 </section>

 <section class="bg-[#efece6] px-8 py-16">
   <div class="max-w-3xl mx-auto grid grid-cols-1">
     <div>
		 <h2 class="text-4xl font-dmserif font-bold md:text-5xl">About me</h2>
      <p class="text-xl md:text-2xl mt-4">I've been working on digital products for over 10 years. My current areas of interest include User Experience Design (UX), User Interface Design (UI) and web accessibility.</p>
     </div>
   </div>
 </section>

 <section class="bg-[#efece6] py-16 px-8">
   <div class="mx-auto max-w-3xl">
      <h2 class="text-4xl font-dmserif font-bold md:text-5xl">What I'm up to</h2>
      <p class="mt-4">
         I'm a developer who is currently learning Tailwind CSS and sharing website components, crafted with Tailwind CSS. Check out my free components.</p>

         <ul class="space-y-4 mt-4">
            <li><a class="underline hover:text-stone-500" href="https://play.tailwindcss.com/yGNiLGUfPp">Equal width columns</a></li>
            <li><a class="underline hover:text-stone-500" href="https://play.tailwindcss.com/ZgioHNy6e6">Image gallery with CSS grid</a></li>
            <li><a class="underline hover:text-stone-500" href="https://play.tailwindcss.com/iEpnoEgzAE">3 column cards</a></li>
            <li><a class="underline hover:text-stone-500" href="https://play.tailwindcss.com/iPVhInr5Kl">3 column cards with images</a></li>
         </ul>
   </div>
</section>

<section class="bg-[#efece6] py-16 px-8">
   <div class="mx-auto max-w-3xl">
      <h2 class="text-4xl font-dmserif font-bold md:text-5xl">The day job</h2>
      <div class="flex flex-col items-center justify-between gap-8 md:flex-row md:gap-16">
         <p class="mt-4">
            I'm web team lead at Rotherham Council, responsible for the main council website and serveral partner websites.</p>
         <a href="https://www.rotherham.gov.uk/" class="inline-block flex-shrink-0 rounded-full py-3 px-8 text-lg font-semibold border border-2 border-[#1e1a14] hover:underline">Rotherham.gov.uk</a>
      </div>
   </div>
</section>

 <section class="py-16 px-8 bg-[#f1f252]">
  <div class="mx-auto max-w-3xl">
     <h2 class="text-4xl font-dmserif font-bold md:text-5xl">Social</h2>
     <div class="flex flex-col items-center justify-between gap-8 md:flex-row md:gap-16">
        <p class="mt-4">
           On Mastodon I'm @jnkly@mastodon.social where I share web design tips, code snippets, and templates.</p>
        <a rel="me" href="https://mastodon.social/@jnkly" class="inline-block flex-shrink-0 rounded-full py-3 px-8 text-lg font-semibold border border-2 border-[#1e1a14] hover:underline">Follow me on Mastodon</a>
     </div>
  </div>
</section>

 <footer class="bg-[#1e1a14] w-full text-center text-white px-6 md:px-8 py-16 mt-auto">
   <small>Copyright © 2022 | All rights reserved</small>
</footer>
	</body>
</html>
